<div id="chat_messages" hx-swap-oob="beforeend" hx-trigger="messageUpdate from:body">
    <div class="fade-in-up">
        {% include 'chat/chat_message.html' %}
    </div>
</div>

<script>
    document.body.addEventListener('htmx:afterSwap', (event) => {
        if (event.detail.target.id === "chat_messages") {
            console.log('htmx was triggered');
            scrollToBottom();
        }
    });

    function scrollToBottom() {
        const chatMessagesContainer = document.getElementById("chat_messages");
        chatMessagesContainer.scrollTop = chatMessagesContainer.scrollHeight;
    }
</script>
